<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    {% block head %}
        <title>Bread</title>
    {% endblock head %}
</head>
<body>
    <nav>
        <div class="nav-content">
            <img src="/static/logo-text.svg" class="logo">
            <div class="links">
                <a href="/app/create-post">Create Post</a>
                <a href="/app/friends">Friends</a>
                <a href="/app/search">Search</a>
                <a href="/app/random">Random</a>
            </div>
            <a href="/app/profile">Profile</a>
        </div>
    </nav>
    <main>
        {% block main %}
            <p>Hello world!</p>
        {% endblock main %}
    </main>
</body>
</html>